body{
	background-color: #fcfc;
}

input[type=text]{
	font-size: 20px;
	padding: 10px 20px;
	margin: 4px 0;
	border: 1px solid #000;
	border-radius: 4px;
	box-sizing: border-box;
}body{
	background-color: #fcfc;
}

input[type=text]{
	font-size: 20px;
	padding: 10px 20px;
	margin: 4px 0;
	border: 1px solid #000;
	border-radius: 4px;
	box-sizing: border-box;
}
input[type=date]{
	font-size: 20px;
	padding: 10px 20px;
	margin: 4px 0;
	border: 1px solid #000;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=number]{
	font-size: 20px;
	padding: 10px 20px;
	margin: 4px 0;
	border: 1px solid #000;
	border-radius: 4px;
	box-sizing: border-box;
}
select{
	font-size: 20px;
	padding: 10px 50px;
	margin: 4px 0;
	border: 1px solid #000;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=submit]{
	font-size: 20px;
	color: white;
	background-color: rgba(50,60,255,0.8);
	padding: 10px 15px;
	margin: 4px 0;
	border: 1px solid #000;
	border-radius: 4px;
	box-sizing: border-box;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: red;
}

input[type=reset]{
	font-size: 20px;
	color: white;
	background-color: rgba(50,60,255,0.8);
	padding: 10px 15px;
	margin: 4px 0;
	border: 1px solid #000;
	border-radius: 4px;
	box-sizing: border-box;
	cursor: pointer;
}

input[type=reset]:hover {
	background-color: red;
}



select{
	font-size: 20px;
	padding: 10px 50px;
	margin: 4px 0;
	border: 1px solid #000;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=submit]{
	font-size: 20px;
	color: white;
	background-color: rgba(50,60,255,0.8);
	padding: 10px 15px;
	margin: 4px 0;
	border: 1px solid #000;
	border-radius: 4px;
	box-sizing: border-box;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: red;
}

input[type=reset]{
	font-size: 20px;
	color: white;
	background-color: rgba(50,60,255,0.8);
	padding: 10px 15px;
	margin: 4px 0;
	border: 1px solid #000;
	border-radius: 4px;
	box-sizing: border-box;
	cursor: pointer;
}

input[type=reset]:hover {
	background-color: red;
}


